.navbar-yolo {
  justify-content: space-between;
  background: rgb(14, 14, 14);
  .navbar-brand {
    color: #6a040f;
    &:hover {
      color: #9d0208;
    }
  }
}

.navbar-yolo .navbar-collapse {
  flex-grow: 0;
}

.navbar-yolo .navbar-brand img {
  width: 40px;
}
